{% extends "base.html" %}
{% load bootstrap3 %}
{% block body %}
<div col-md-8 col-md-offset-2>
    <div class="panel panel-primary">
        <div class="panel-heading">Patient Medical Info</div>
        <div class="panel-body">
            {% if patient_list %}
                <ul>
                {%  for p in patient_list %}
                    <li><a href="/medicalinfo/patientinfo/{{ p.id }}/">{{ p.user.last_name }}, {{ p.user.first_name }}</a></li>
                {%  endfor %}
                </ul>
            {% else %}
                <p>No patients in your hospital.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} 
